body {
    background-image: linear-gradient(#113141, #0b4747);
    background-attachment: fixed;
    margin: 0px;
}

body::-webkit-scrollbar {
    display: none;  /* for Chrome*/
}

.titleBlock {
    overflow: hidden;
}
.titleBlock a {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: azure;
    text-shadow: 1px 1px 4px #081f1f;
    float: left;
    padding: 12px 16px;
    text-decoration: none;
    line-height: 26pt;
}
.navList {
    background-color: #162e3b;
    list-style-type: none;
    position: fixed;
    top: 0px;
    width: 100%;
    margin: 0px;
    z-index: 9999;
}
.navBtn {
    font-size: 12pt;
    font-weight: 600;
}
.navBtn :hover {
    background-color: #205772;
}
.titleText {
    font-weight: 100;
    font-size: 26pt;
}
.welcomeImg {
    width: 400px;
    height: auto;
    filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
    margin:30px auto auto auto;
    border-radius: 5px;
    display:block;
}
.welcomeTable {
    margin-bottom: 50px;
}
td {
    padding-right: 60px;
    padding-left: 60px;
}
p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: azure;
    font-weight: 400;
    text-shadow: 1px 1px 4px #081f1f;
    margin: 0px;
}
h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: azure;
    font-weight: 200;
    margin-top: 0px;
    margin-bottom: 0px;
    text-shadow: 1px 1px 4px #081f1f;
}
h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: azure;
    text-shadow: 1px 1px 4px #081f1f;
    margin: 0px;
    padding: 0px;
}
.btn {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18pt;
    font-weight: 500;
    background-color: azure;
    color: #0b4747;
    border-radius: 3px;
    display:inline-block;
    width:125px;
    height:50px;
    margin: 20px 20px 20px 0;
    text-decoration: none;
    text-align: center;
    line-height: 36pt;
    filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
}
.btn a {
    text-decoration: none;
}
.btn:hover {
    background-color: #205772;
    color: azure;
}
.emailLink {
    font-weight:600;
    color:azure;
}
.emailLink:hover {
    color: #205772;
}
.emailLink a {
    color:azure;
}
.content {
    max-width: fit-content;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    animation: fadeIn 2s;
}
.scroll {
    text-align: center;
}
.rule {
    text-align: center;
    display: flex;
    flex-direction: row;
}
.rule:before, 
.rule:after { 
    content: ""; 
    flex: 1 1; 
    border-bottom: 2px solid azure; 
    margin: auto 20px auto 20px;
} 
.scrollArrow {
    font-size: 48pt;
}
.scrollArrow:hover {
    animation: enlarge 4s;
}
.projectList > li {
    margin-top: 20px;
    list-style-type: none;
    display: inline-block;
}
.projectItem {
    text-align: left;
    margin: 15px;
    filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
    transition: 0.5s;
}
.projectItem a {
    text-decoration: none;
}
.projectList :hover {
    transform: scale(1.05);
    transform-origin: center;
}
.projectItem :hover {
    transform: scale(1);
    transform-origin: center;
}
.projTitle {
    font-weight:600;
    width:475px;
    padding-top:0;
    padding-left:10px;
    margin-top:0;
    font-size: 26pt;
    text-shadow: none;
}
.projSub {
    text-shadow:none;
    width:475px;
    font-size: 14pt;
    padding-left:15px;
    text-shadow: none;
}
.projectHead {
    border-radius: 5px 5px 0 0; 
    background-color: #415d5e;
    width: 500px;
    display: block;
    padding-bottom: 16px;
}
.projectHead :hover {
    transform: scale(1);
    transform-origin: center;
}
.thumbnail {
    width: 500px;
    height:auto;
    border-radius: 0px 0px 5px 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.viewerTitle {
    font-weight: 500;
    font-size: 32pt;
}
.viewerSub {
    font-weight: 200;
    font-size: 18pt;
}
.viewerCover {
    border-radius: 5px;
    filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
    height: auto;
    width: 70%;
    margin-bottom: 20px;
}
#projectViewer {
    display: block;
    width:60%;
    margin-left: auto;
    margin-right: auto;
}
.viewerBody {
    line-height: 24pt;
    font-size: 14pt;
}
.galleryImg {
    height: 400px;
    width: auto;
}
#imgGrid > li {
    margin: 10px;
    list-style-type: none;
    display: inline-block;
}
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 100;}
}
@keyframes enlarge {
    0% {font-size: 48pt;}
    50% {font-size: 64pt;}
    100% {font-size: 48pt;}
}